@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
    margin: 0;
    scroll-behavior: smooth;
}
:root{
    --c1:#CCD6F6;
    --c2:#EA22FC;
    --c3:#8892B0;
    --c-s2:#3CB831;
    --c-s3:#e1e44c;
    --c-s4:#B83149;
    --bg-1:#0A192F;
    --bg-2:#ea22fc33;
    --bg-3:#302035;
    --bg-4:#3B3C3D;
    --f1:'Roboto Mono', monospace;
    --f2:'Inter', sans-serif;
}
/* Background */
.bg-1{background-color: var(--bg-1);}
.bg-c3{background-color: var(--c3);}
/* Fuentes */
.text-f1{
    font-family: var(--f1);
    text-decoration: none;
}
.text-f2{
    font-family: var(--f2);
    text-decoration: none;
}
/* Textos */
.text-c1{color: var(--c1);}
.text-c1:hover{color: var(--c1);}
.text-c2{color: var(--c2);}
.text-c2:hover{color: var(--c2);}
.text-c3{color: var(--c3);}
.text-c-s2{color: var(--c-s2);}
.text-c-s3{color: var(--c-s3);}
/* Botones */
.button{
    border: 1px solid var(--c2);
    border-radius: 0.875rem;
    background-color: none;
    text-decoration: none;
    cursor:pointer;
}
.button:hover{
    background-color: var(--bg-2);
}
.btn-out{
    background-color: transparent;
    border: none;
    outline: none;
    text-decoration: none;
}
.button-2{
    /* border: 1px solid var(--bg-3); */
    border-radius: 0.4rem;
    background-color: var(--bg-3);
    text-decoration: none;
    color: var(--c1);
    cursor:pointer;
} 
.button-2:hover{
    color: var(--c2);
} 
/* Hovers*/
.hover-c2:hover{color: var(--c2);}
/* Focus*/
.focus-c2:focus{
    outline: 2px dotted var(--c2);
    color: var(--c2); 
}
/* Inputs */
.comment-input{
    border: none;
    border-bottom: 2px solid var(--c3);
    width: 75%;
    outline: none;
}

/*//////// Disenios ////////*/
/* Linux Windows */
.windows-bar{
    display: flex;
    background-color: var(--bg-4);
    border-top-left-radius: 00.875rem;
    border-top-right-radius: 00.875rem;
    padding: 0.8rem;
}
.circle{
    text-decoration: none;
    background-color: transparent;
    border-radius: 5rem;
    margin: 5px;
    padding: 0.5rem 1rem;
}
.circle-c-s2{
    background-color: var(--c-s2);
}
.circle-c-s3{
    background-color: var(--c-s3);
}
.circle-c-s4{
    background-color: var(--c-s4);
}
.windows-body{
  background-color: var(--bg-3);  
  border-bottom-right-radius: 00.875rem;
  border-bottom-left-radius: 00.875rem;
  padding: 1.5rem;
  color: var(--c1);
  font-family: var(--f1);
  font-weight: bold;
}
.linux-image{
    clip-path: polygon(15% 15%, 85% 15%, 100% 30%, 100% 70%, 85% 85%, 15% 85%, 0% 70%, 0% 30%);
    border: 1px solid rgba(0, 0, 0, 0.4);
    opacity: 0;
    animation: showText .5s 1.5s linear forwards;
}
/* Skills */
.progress-line{
    position: relative;
    height: 10px;
    width: 100%;
    background-color: #f0f0f072;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin:left ;
    animation:skillsMove .75s 3.5s cubic-bezier(1,0,0.5,1) forwards ;
    
}
.progress-line span{
    height: 100%;
    width: 80%;
    background-color: var(--c-s3);
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin:left ;
    animation:skillsMove 1s 3.5s cubic-bezier(1,0,0.5,1) forwards ;
}
.info span{
    opacity: 0;
    animation: showText .5s 3.5s linear forwards;
}
.progress-line span::before{
    position:absolute;
    content: '';
    right: 0;
    top: -10px;
    height:0 ;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
}
.progress-line span::after{
    position:absolute;
    right: 0;
    top: -28px;
    color: var(--c1);
    font-weight: 800;
    background-color: #000;
    font-size: 14px;
    padding: 1px 8px;
    border-radius:3px ;
    opacity: 0;
    animation: showText .5s 3.5s linear forwards;
}
/* medidas de skills */
.html span::after{
    content: '97%';
}
.html span{
    width: 97%;
}
.CSS span::after{
    content: '95%';
}
.CSS span{
    width: 95%;
}
.bootstrap span::after{
    content: '93%';
}
.bootstrap span{
    width: 93%;
}
.github span::after{
    content: '50%';
}
.github span{
    width: 50%;
}
.es6 span::after{
    content: '65%';
}
.es6 span{
    width: 65%;
}
.react span::after{
    content: '30%';
}
.react span{
    width: 40%;
}
/*----- Timeline ------ */
.timeline{
    width: 80%;
    text-align: center;
    position: relative;
    color: var(--c1);
}
.timeline-list{
    list-style: none;
}
.list-item{
    padding: 1.1rem;
    background-color: var(--bg-4);
    color: var(--c1);
    border-radius: .75rem;
    margin-bottom: 2rem;
}
/* Notebook */
.notebook-screen{
    height: 30rem;
    border-top: 1px solid var(--c1);
    border-right: 1px solid var(--c1);
    border-left: 1px solid var(--c1);
    border-top-left-radius:0.875rem;
    border-top-right-radius:0.875rem;
}
.bor{
    padding: .3rem;
    margin: 1rem 0;
    border-top-left-radius:1rem  ;
    border-top-right-radius:1rem ;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.029);
    opacity:55% ;
}
.notebook-bottom{
    height: 3rem;
    border: 1px solid var(--c1);
    border-bottom-left-radius:2rem;
    border-bottom-right-radius:2rem;  
}
.phone-bottom{
    height: 2.5rem;
    border: 1px solid var(--c1);
    border-bottom-left-radius:2rem;
    border-bottom-right-radius:2rem; 
}
/* Footer */
.triangle{
    clip-path: polygon(0 38%, 100% 0, 100% 100%, 0% 100%);
    background-color: var(--bg-3);
}
/* ///////// Animaciones //////// */

.header-text{ 
    opacity: 0;
    animation: showText .5s 1.5s linear forwards;
}
.header-name{
    opacity: 0;
    animation: showText 1s 2.5s linear forwards;
}
.header-sub{
    opacity: 0;
    animation: showText 1.5s 3.5s linear forwards;
}
.header-btn{
    opacity: 0;
    animation: showText 2s 4.5s linear forwards;
    
}
.linux-welcome{
    opacity: 0;
    animation: showText .5s .5s linear forwards;
}
.linux-name{
    opacity: 0;
    animation: showText .5s 1s linear forwards;
}
.linux-why{
    opacity: 0;
    animation: showText .5s 2s linear forwards;
}
.linux-skills{
    opacity: 0;
    animation: showText .5s 2.5s linear forwards;
}
#about{
    opacity: 0;
    animation: showText .5s 5s linear forwards;  
}
#work{
    opacity: 0;
    animation: showText .5s 6s linear forwards;  
}  
@keyframes skillsMove{
    100%{
        transform: scaleX(1);
    }
}
@keyframes showText{
    100%{
        opacity: 1;
    }
}

#I:hover,#v:hover,#a:hover,#n:hover,#C:hover,#o:hover,#r:hover,#ll:hover,#i:hover,#dot:hover{
  position: relative;
  animation-name: up;
  animation-duration:.5s;
  animation-timing-function: ease-in-out;
}

@keyframes up {
    0%{
    }
    25%{
        transform: translatey(-30px);
    }
    50%{
        transform: translatey(-60px);
    }
    75%{
        transform: translatey(-30px);
    }
    100%{
        transform: translatey(0px);
    }
}
/* Media Querys */
/* Md */
@media screen and (min-width: 786px){
    .notebook-screen{
        height: 38rem;
    }
    .list-item{
        width: 50%;
        margin-bottom: 2.5rem;
    
    }
    .list-item:nth-child(odd){
    float: right;
    clear: left;
    }
    .list-item:nth-child(even){
        float: left;
        clear: right;
    }
}
/* lg */
@media screen and (min-width: 992px){
    .phone-bottom{
        display: none;
    }
    .progress-line{
        width: 55%;
    }
    .notebook-screen{
        height: 21rem;
    }
}
/* xl */
@media screen and (min-width: 1200px){
    .notebook-screen{
        height: 25rem;
    }
}
/* xxl */
@media screen and (min-width: 1400px){
    .notebook-screen{
        height: 29rem;
    }
}

